:root {
  --color-text-100: rgba(255, 255, 255, 0.9);
  --color-text-200: rgba(255, 255, 255, 0.75);
  --color-text-300: rgba(255, 255, 255, 0.5);
  --color-text-400: rgba(255, 255, 255, 0.25);
  --color-text-500: rgba(255, 255, 255, 0.1);

  /* --color-primary: #ffce00;
  --color-primary-dark: #775400;
  --color-background: #1d1a20;
 */
  --color-primary: #ccc;
  --color-primary-light: white;
  --color-primary-dark: #aaa;
  --color-background: black;

  --max-width: 900px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text-100: rgba(0, 0, 0, 0.9);
    --color-text-200: rgba(0, 0, 0, 0.75);
    --color-text-300: rgba(0, 0, 0, 0.5);
    --color-text-400: rgba(0, 0, 0, 0.25);
    --color-text-500: rgba(0, 0, 0, 0.1);

    --color-primary: #333;
    --color-primary-light: #555;
    --color-primary-dark: black;
    --color-background: white;
  }
}

@supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    -—color-primary: color(display-p3 1 .7 .2);
  }
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis-VariableFont_wght.ttf');
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-400) var(--color-background);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-text-400);
  border-radius: 20px;
  border: 2px solid var(--color-background);
}

* {
  box-sizing: border-box;
}
html,
body {
  font-family: system-ui, 'Rubik',  sans-serif;
  color: var(--color-text-200);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
  width: 100%;
  letter-spacing: .01rem;
  word-spacing: .01rem;
}
p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.65rem;
  margin: 0 0 2rem;
  font-size: 1rem;
}

p + ul, p + ol {
  margin: -1.5rem 0 2rem 0;
}

nav a,
header li a {
  display: inline-block;
}

a {
  display: inline;
  text-decoration: none;
  color: var(--color-text-100);
  /* transition: all 0.2s ease; */
  border-bottom: 0;
  box-shadow: 0px -2px var(--color-text-500) inset;
  font-weight: 500;
  transition: all .15s ease-in-out;
}
a:hover {
  box-shadow: 0px -6px var(--color-text-500) inset;
  /* transform: scale(1.08); */
  /* border-bottom: 5px solid var(--color-text-400); */
  /* background: var(--color-text-400); */
}
/* a:before:hover {
  content: " ";
  background: var(--color-text-400);
  width: 100%;
} */
a:visited {
  color: var(--color-text-100);
}
main {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding: .5rem;
  border-top: 1px solid var(--color-text-500);
  text-align: left;
}

emphasis {
  font-style: italic;
}

ul, ol {
  list-style: none;
  counter-reset: counter;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--color-text-400); /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
  font-weight: 800;
}

li {
  line-height: 1.75;
  font-size: 1.2rem;
}

ol:not(.post-list) li {
  counter-increment: counter;
  margin-left: -1.15rem
}
ol:not(.post-list) li::before {
  content: counter(counter) ".";
  color: var(--color-text-400);
  font-weight: bold;
  font-size: .75rem;
  margin-right: .5rem;
}

.post-content ol li,
.post-content ul li {
  margin-bottom: .5rem;
}

.container {
  padding: 10vh calc(1rem + 1vw);
  width: 100%;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.global-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: var(--max-width);
  margin: auto;
}

.gobal-header-title-section {
  flex: 3 1;
}

.global-header-title {
  margin: 0;
  font-size: 1.5rem;
}

.global-header-tagline {
  max-width: 400px;
  margin: 0.25rem 2rem 2rem 0;
}

.global-header-tagline h2 {
  color: var(--color-text-300);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.global-header-intro {
  margin: 0;
}

.global-header-intro h2 {
  color: var(--color-text-400);
  font-size: 0.8rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.global-header-nav {
  flex: 1;
  padding: 0;
  display: flex;
  /* justify-content: flex-end; */
  /* margin: 2rem 0 0; */
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.global-header-nav:last {
  /* margin: 0.25rem 0 0; */
}

@media screen and (max-width: 614px) {
  .global-header {
    flex-direction: column;
  }
  .global-header-nav {
    align-items: flex-start;
  }
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin: 0 0 0.3rem 0;
}
.nav-item:last-child {
  /* margin: 0.25rem 0 0; */
}
.nav-item a:not(:hover) {
  text-decoration: none;
}
.nav-item-active a {
  font-weight: 700;
  box-shadow: 0px -3px var(--color-primary) inset;
}


.related-posts-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: var(--max-width);
}

.related-posts-nav label {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--color-text-400);
}

.related-posts-nav .home {
  margin: 1.5rem auto 0;
}

.related-posts-nav label:first-child {
  margin: 0 2rem 0 0;
  align-items: flex-start;
}

.related-posts-nav label:last-child {
  margin: 0 0 0 2rem;
  align-items: flex-end;
  text-align: right;
}

.text-fine {
  font-size: 0.75rem;
  color: var(--color-text-400);
}

footer {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: 0 0.5rem;
}

footer .copyright::before {
  content: "© ";
}

footer .copyright {
  margin-top: 2rem;
}

.flex-start {
  align-self: flex-start;
}

hr {
  border: none;
  border-top: 1px solid var(--color-text-500);
}

a[href^="http"]::after {
  content: "↗";
  padding-left: 0.125rem;
  font-weight: 800;
  color: var(--color-text-400);
  display: inline-block;
  transition: all .15s ease-in-out;
}

a[href^="http"]:hover::after {
  content: "↗";
  padding-left: 0.125rem;
  font-weight: 800;
  color: var(--color-primary);
  /* transform: scale(1.4); */
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-row.flex-paragraph h1 {
  width: 100%;
  margin: 1rem;
}

.flex-row.flex-paragraph {
  margin: -1rem auto;
}

.flex-row.flex-paragraph p {
  flex: 2 2 240px;
  padding: 1rem;
}

.flex-row.flex-paragraph p:nth-child(4n + 3) {
  background: var(--color-text-500);
  border-radius: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.no-list-style li::before,
ol.no-list-style li::before {
  content: none;
}

blockquote {
  padding: 0 0 0 1rem;
  border-left: 3px solid var(--color-primary-light);
  margin: -1.5rem 0 2rem 0;
}

code {
  background: var(--color-text-500);
  font-family: monospace;
  padding: .15rem .25rem;
  border-radius: 4px;
}

em {
  font-style: italic;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

img:not([src$=".svg"]) {
  border-radius: 16px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

