---
title: Black Lives Matter
banner: false
templateClass: blm
date: 2020-06-11
---
{% extends "../../_includes/layouts/base.njk" %}

{% block css %}
  <link rel="stylesheet" href="{{ './index.css' | url }}">
{% endblock %}

{% block content %}
<div class="announcement-container container">
  <section class="announcement">
    <h2>Black Lives Matter.</h2>
    <section class="description">
      <p>As a white man of privilege, I won't pretend that I'm qualified to speak on the matter—in fact, my inadequacies and naivety lends to my hesitation to stray out of silence.</p>
      <p>The brutal murder of George Floyd has been a catalyst for me—<a href="https://www.nytimes.com/2020/06/12/us/one-big-difference-about-george-floyd-protests-many-white-faces.html">and I'm guessing a lot of people like me feel the same</a>. I’m ready to speak up and do my part to help end police brutality and racial injustice—just saying <emphasis>I’m ready</emphasis> shows that my white privilege has no bounds.</p>
      <p>I’m here to help in whatever ways I can—I’ll make plenty of mistakes, but I’m listening. I’m working to become better educated on the matters. Donating where I can. Having conversations with friends and family. Voting. I'm aware what I'm doing isn't enough—and about 400 years too late, but I'm trying.</p>
      <p>I’m with you.</p>
    </section>
    <section class="links">
      <p>Below are some items I've found helpful in becoming more informed—maybe they will help you:
      <h3>Learn</h3>
      <ul>
        <li><a href="https://blacklivesmatter.com/">#BlackLivesMatter</a></li>
        <li><a href="https://www.youtube.com/watch?v=h8jUA7JBkF4">Uncomfortable Conversations with a Black Man</a></li>
        <li><a href="https://www.ibramxkendi.com/how-to-be-an-antiracist-1">How To Be An Antiracist by Ibram X. Kendi</a></li>
        <li><a href="https://ta-nehisicoates.com/books/between-the-world-and-me/">Between the World and Me by Ta-Nehisi Coates</a></li>
        <li><a href="https://whitefragility.us">White Fragility by Robin Diangelo</a></li>
        <li><a href="https://www.hachettebookgroup.com/titles/ijeoma-oluo/so-you-want-to-talk-about-race/9781580056779/">So You Want to Talk About Race by Ijeoma Oluo</a></li>
        <li><a href="https://debbyirving.com/the-book/">Waking Up White by Bebby Irving</a></li>
      </ul>
      <h3>Donate</h3>
      <ul>
        <li><a href="https://support.eji.org/give/153413/#!/donation/checkout">The Equal Justice Initiative</a></li>
        <li><a href="https://www.gofundme.com/f/georgefloyd">Official George Floyd Memorial Fund</a></li>
        <li><a href="https://www.gofundme.com/f/i-run-with-maud">I Run with Maud</a></li>
        <li><a href="https://www.communityjusticeexchange.org/nbfn-directory">National Bail Fund Network</a></li>
      </ul>
    </section>
  </section>
</div>
{% endblock %}
