---
layout: layouts/generic.njk
permalink: /posts/
title: The Archive
eleventyNavigation:
  key: Archive
  order: 2
---

<h1 class="page-header">The Archive</h1>

{% set postslist = collections.posts %}
{% include "postlist.njk" %}
