---
layout: layouts/base.njk
permalink: /posts/
title: The Archive
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>The Archive</h1>

{% set postslist = collections.posts %}
{% include "post-list.njk" %}
