:root {
  --font-size: clamp(18px, calc(18px + 0.3vw), 24px);
  --font-size-s: clamp(14px, calc(14px + 0.3vw), 19px);
  --font-size-l: clamp(24px, calc(24px + 1vw), 32px);
  --font-size-xl: clamp(32px, calc(32px + 1vw), 48px);
  --line-height: 1.5;
  --line-height-s: 1;
  --line-height-l: 1.286;
  --line-height-xl: 1.286;
  --space-vertical: 6vh;
  --space-horizontal: 6vw;
  --max-width: 700px;
  --color-primary: black;
  --color-text-light: rgba(0, 0, 0, 0.45);
  --color-text: rgba(0, 0, 0, 0.75);
  --color-text-dark: rgba(0, 0, 0, 0.85);
  --color-container: rgba(0, 0, 0, 0.06);
  --color-background: white;
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: white;
    --color-text-light: rgba(255, 255, 255, 0.5);
    --color-text: rgba(255, 255, 255, 0.75);
    --color-text-dark: rgba(255, 255, 255, 0.95);
    --color-container: rgba(255, 255, 255, 0.15);
    --color-background: black;
  }
}

h1 {
  font-size: var(--font-size-xl);
  margin: 0 0 4vh;
  font-weight: 700;
  line-height: var(--line-height-xl);
}

h2 {
  font-size: var(--font-size-l);
  margin: 0 0 3vh;
  font-weight: 500;
  line-height: var(--line-height-l);
}

h3 {
  font-size: var(--font-size-l);
  margin: 0 0 2.5vh;
  font-weight: 600;
  font-variant: all-small-caps;
  line-height: var(--line-height-l);
  color: var(--color-text-light);
}

h4 {
  font-size: var(--font-size-h4);
  margin: 0 0 2vh;
  font-weight: 500;
  line-height: var(--line-height-h4);
}

h5 {
  font-size: 1rem;
  margin: 0 0 2vh;
  font-weight: 800;
  color: var(--color-text-dark);
}

h6 {
  font-size: 1rem;
  margin: 0 0 2vh;
  font-weight: 800;
  font-variant: small-caps;
  color: var(--color-text);
}
