<style>
.announcement-container {
  --color-text-light: rgba(255, 255, 255, , 0.1);
  --color-text: rgba(255, 255, 255, 0.5);
  --color-text-dark: rgba(255, 255, 255, 0.9);
  --color-container: rgba(255, 255, 255, 0.03);
  --color-background: black;
  --color-primary: #ffce00;

  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--color-background);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.announcement-container a {
  box-shadow: 0px -1px var(--color-primary) inset;
}

.announcement-container a:hover {
  box-shadow: 0px -2px var(--color-primary) inset;
}

.announcement-container a:after {
  color: var(--color-text);
}

.announcement-container li {
  margin: .25rem .25rem .5rem;
}
</style>

<ul class="announcement-container no-list-style">
  <li class="nav-item"><a href="{{ '/features/blm' | url }}">BLM</a></li>
</ul>
