<style>
.announcement-container {
  --color-text-100: rgba(255, 255, 255, 0.9);
  --color-text-200: rgba(255, 255, 255, 0.75);
  --color-text-300: rgba(255, 255, 255, 0.5);
  --color-text-400: rgba(255, 255, 255, 0.25);
  --color-background: #000000;

  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--color-background);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.announcement-container li {
  margin: .25rem .25rem .5rem;
}
</style>

<ul class="announcement-container no-list-style">
  <li class="nav-item"><a href="https://blacklivesmatter.com/">#BlackLivesMatter</a></li>
  <li class="nav-item"><a href="https://www.youtube.com/watch?v=h8jUA7JBkF4">Uncomfortable Conversations with a Black Man</a></li>
  <li class="nav-item"><a href="https://support.eji.org/give/153413/#!/donation/checkout">The Equal Justice Initiative</a></li>
  <li class="nav-item"><a href="https://www.gofundme.com/f/georgefloyd">Official George Floyd Memorial Fund</a></li>
</ul>
