<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  {% set isDifferentDate = prevDate !== ( post.date | htmlDateString ) %}
  {% if isDifferentDate %}
  <hr style="margin-top: 4rem;" />
  {% endif %}
  {% set prevDate = post.date | htmlDateString %}
  <li>
    <article class="archive-post">
      {% if isDifferentDate %}
      <time class="postlist-date archive-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% endif %}
      <h2 class="archive-heading">
        <a href="{% if post.data.link %}
          {{ post.data.link | url }}
          {% else %}
          {{ post.url | url }}
          {% endif %}">
            {% if post.data.title %}
            {{ post.data.title }}
            {% else %}
            <code>{{ post.url }}</code>
            {% endif %}
        </a>
      </h2>
      {% if post.data.excerpt %}<p class="archive-excerpt">{{ post.data.excerpt }}</p>{% endif %}
     {% if post.content %}<p class="archive-excerpt">{{ post.content }}</p>{% endif %}
      {# {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %} #}
    </article>
  </li>
{% endfor %}
</ol>
