.callout-container {
  width: 80%;
  text-align: center;
  overflow: hidden;
  padding: 2rem;
}

.callouts {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;



  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.callouts::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.callouts::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.callouts::-webkit-scrollbar-track {
  background: transparent;
}
.callouts > article {
  scroll-snap-align: center;
  width: 100%;
  border-radius: 32px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.1s;
}

.callouts > article.callout--active {
  transform: scale(1.1);
}

.callout-container > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.callout-container > a:active {
  top: 1px;
}
.callout-container > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports(scroll-snap-type: x mandatory) {
  .callout-container > a {
    display: none;
  }
}

