<aside id="callout-container">
  <div class="callout-container">
  <ul class="callouts">
    <li>
      <article id="callout-vote-1">
        <h2>Vote.</h2>
        <p>It’s important that your voice is heard.</p>
        <p>Unfortunately, there are some making the process intentionally more difficult. They are banking on you not showing up.</p>
        <p>Don’t be silenced.</p>
        <p>Get information on your local elections</p>
      </article>
    </li>
    <li>
      <article id="callout-vote">
        <h2>Vote.</h2>
        <p>It’s important that your voice is heard.</p>
        <p>Unfortunately, there are some making the process intentionally more difficult. They are banking on you not showing up.</p>
        <p>Don’t be silenced.</p>
        <p>Get information on your local elections</p>
      </article>
    </li>
    <li>
      <article id="callout-blm">
        <h2>Black Live Matter.</h2>
        <p>Inequality is gross.</p>
        <p>The black community has suffered enough. I urge everyone to donate to the cause, as well as educate yourself and others on the matter.</p>
        <p>Lost? <a href="/features/blm">Take a look at my suggested readings and charties.</a></p>
      </article>
    </li>
  </ul>
  </div>
  <div class="callout-navigation-buttons">
  </div>
</aside>
<script>

function buttonSetup(callout) {
  return function() {
    callout.scrollIntoView({ block: 'nearest', inline: 'center', behavior: 'smooth' });
  }
}

function calloutSetup() {
  var buttonContainer = document.querySelector('#callout-container .callout-navigation-buttons');
  var callouts = document.querySelectorAll('.callouts > li');
  var calloutButtons = [];

  for (var i = 0; i < callouts.length; i++) {
    var button = document.createElement('button');
    button.type = 'button';
    button.classList.add('callout-button');
    button.onclick = buttonSetup(callouts[i]);
    buttonContainer.appendChild(button);
    calloutButtons.push(button);
  }

  if (!IntersectionObserver) {
    for (var i = 0; i < callouts.length; i++) {
      callouts[i].classList.add('callout--active');
    }
    return;
  }

  var observer = new IntersectionObserver(function(entries) {
    entries.forEach(function(entry) {
      var index = Array.prototype.indexOf.call(callouts, entry.target);
      if (entry.isIntersecting) {
        calloutButtons[index].classList.add('callout-button--active');
        entry.target.classList.add('callout--active');
      } else {
        calloutButtons[index].classList.remove('callout-button--active');
        entry.target.classList.remove('callout--active');
      }
    });
  }, {
    root: document.querySelector('#callout-container'),
    rootMargin: '0px',
    threshold: .75
  });

  callouts.forEach(function(callout) {
    observer.observe(callout);
  });
}
calloutSetup();
</script>
