<style>
  .construction {
    padding: .25rem 2rem;
    display: flex;
  }

  .construction img {
    margin: 0 1rem 0 0;
  }
</style>
<section class="construction">
  <img src="/img/caution.svg" />
  <p>Pardon the dust... this site is still a work in progress.</p>
</section>
