{# date is set in parent #}
<div class="post-list-date-separator">
  <time class="post-list-date small-caps" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  <hr class="post-list-divider" />
</div>
