<header class="header">
  <img class="header__avatar" src="/assets/img/avatar.png" />
  <h1 class="header__title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
  <section id="subtitle-container" class="header__subtitle" role="doc-subtitle">
    <p class="header__subtitle__text">{{ metadata.description }}</p>
  </section>
  <nav class="header__nav">
    <ul class="header__nav-list">
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="header__nav-item{% if entry.url == page.url %} header__nav-item--active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
  </nav>
  <script>
    var subtitles = [
      {
        text: 'Not a doctor.',
        color: '#440000',
      },
      {
        text: 'Mostly about tech, videogames, and software development—but like everything else, politics might get in the way.',
        color: '#004400',
      },
      {
        text: "Not a best-selling author or award winner.",
        color: "#345678"
      },
      {
        text: "Another white guy, musing.",
        color: "#000044"
      },
    ];

    function setSubtitle() {
      var index = Math.floor((Math.random() * subtitles.length))
      var subtitle = subtitles[index];
      var subtitleContainer = document.getElementById('subtitle-container');

      subtitleContainer.innerHTML = `<p class="header__subtitle__text" style="color: ${subtitle.color};">${subtitle.text}</p>`
    }

    setSubtitle();
  </script>
</header>
