/* .global-header {
	font-family: "SF Pro Rounded", system-ui, sans-serif;
	display: flex;
	max-width: var(--max-width);
	margin: auto;
}

.gobal-header-title-section {
	flex: 2 1;
}

.global-header-title {
	margin: 0.15rem 0 0;
}

.global-header-tagline {
	max-width: 400px;
	margin: 1rem 0 0;
	font-size: var(--font-size-s);
	color: var(--color-text-light);
	font-weight: 400;
}

.global-header-nav {
	flex: 2 2;
	max-width: 260px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0 0 0;
}

.nav {
	padding: 0;
	list-style: none;
	margin-left: 1em;
}

.nav-item a:not(:hover) {
	text-decoration: none;
}
.nav-item-active a {
	font-weight: 800;
	box-shadow: 0px -6px var(--color-primary) inset;
} */

.global-header {
  display: grid;
  grid-template-areas: "title nav avatar" "title description description";
  grid-template-columns: 1fr 10fr 2fr;
  gap: 1rem;
  margin: 2rem;
}

.global-header .global-header--title-container {
  grid-area: title;
  display: flex;
  align-items: flex-end;
}

.global-header .global-header--title {
  transform-origin: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  box-shadow: none;
  font-size: 3rem;
  font-weight: 800;
  min-width: 4rem;
}

.global-header .global-header--nav {
  grid-area: nav;
  margin-left: max(3vw, 1rem);
}

.global-header .global-header--nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.global-header .global-header--nav ul li::before {
  content: none;
}

.global-header .global-header--description {
  grid-area: description;
  max-width: 460px;
  margin-left: max(3vw, 1rem);
}

.global-header .global-header--avatar {
  grid-area: avatar;
  border-radius: 100%;
  max-width: 200px;
}
