.global-header {
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", system-ui,
    "Helvetica Neue", sans-serif;
  display: flex;
  max-width: var(--max-width);
  margin: auto;
}

.gobal-header-title-section {
  flex: 2 1;
}

.global-header-title {
  margin: 0.15rem 0 0;
}

.global-header-tagline {
  max-width: 400px;
  margin: 1rem 0 0;
  font-size: var(--font-size-s);
  color: var(--color-text-light);
  font-weight: 400;
}

.global-header-nav {
  flex: 2 2;
  max-width: 260px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0 0;
}

.nav {
  padding: 0;
  list-style: none;
  margin-left: 1em;
}

.nav-item a:not(:hover) {
  text-decoration: none;
}
.nav-item-active a {
  font-weight: 800;
  box-shadow: 0px -6px var(--color-primary) inset;
}
