<header class="header">
  <img class="header__avatar" src="/assets/img/avatar.png" />
  <h1 class="header__title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
  <section id="subtitle-container" class="header__subtitle" role="doc-subtitle">
    <p class="header__subtitle__text">{{ metadata.description }}</p>
  </section>
  <nav class="header__nav">
    <ul class="header__nav-list">
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="header__nav-item{% if entry.url == page.url %} header__nav-item--active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
  </nav>
  {# capture the JS content as a Nunjucks variable #}
  {% set js %}
    {% include "dynamic-subtitle.js" %}
  {% endset %}
  {# feed it through our jsmin filter to minify #}
  <script>
    {{ js | jsmin | safe }}
  </script>
</header>
