.header {
  display: grid;
  grid-template-areas:
    "avatar"
    "title"
    "subtitle"
    "nav";
  justify-items: center;
  margin: 8vh max(4vw, 1rem);
  gap: 0 2vw;
  max-width: var(--max-width);
}

.header__title {
  grid-area: title;
  font-size: var(--font-size-l);
  margin: 0;
  align-self: baseline;
}

.header__nav {
  grid-area: nav;
  align-self: baseline;
}

.header__nav-list {
  display: flex;
  gap: min(1rem, 4vw);
  margin: 0;
}

.header__nav-item {

}

.header__nav-item--active {

}

.header__avatar {
  grid-area: avatar;
  border-radius: 100px;
  max-width: 100px;
  width: 40vw;
  max-height: 100px;
  height: 40vw;
  box-shadow: var(--shadow);
}

.header__subtitle {
  grid-area: subtitle;
  text-align: center;
  line-height: 2vw;
}

@media screen and (min-width: 700px) {
  .header {
    grid-template-areas:
      "title avatar"
      "subtitle avatar"
      "nav nav";
    justify-items: start;
    margin: 8vh max(4vw, 1rem);
  }

  .header__subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    grid-template-areas:
      "avatar title nav"
      "avatar subtitle .";
    grid-template-columns: 100px 3fr 1fr;
    justify-items: start;
    align-items: start;
    margin: 8vh max(4vw, 1rem);
  }

  .header__subtitle {
    text-align: start;
  }
}


