<ol class="post-list" reversed>
{% for post in postslist | reverse %}
  {% set isLinkPost = post.data.link != undefined %}
  {% set isDifferentDate = prevDate !== ( post.date | htmlDateString ) %}
  {% set prevDate = post.date | htmlDateString %}
  {% if isLinkPost %}
    {% include "post-list-link-item.njk" %}
  {% else %}
    {% include "post-list-item.njk" %}
  {% endif %}
{% endfor %}
</ol>
