.post {
  margin: 0 auto var(--space-vertical);
}

.post h1 {
  margin: 0.5rem 0;
}

.post .post-meta-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.post-description {
  margin: 0 0 6vh 0;
  font-size: 1.2rem;
  color: var(--color-text-light);
}

.post-content {
  margin-bottom: var(--spacing-l);
}

.post-content ol li,
.post-content ul li {
  margin: 0 0 0.5rem 1.5rem;
}

.post-header-link {
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
  box-shadow: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
a.post-header-link,
a.post-header-link:visited {
  color: var(--color-primary);
}
a.post-header-link:focus,
a.post-header-link:focus:visited,
:hover > a.post-header-link,
:hover > a.post-header-link:visited {
  visibility: visible;
  opacity: 1;
  color: var(--color-primary);
  box-shadow: none;
}

.related-posts-nav {
  width: 100%;
  max-width: var(--max-width);
}

.related-posts-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.related-posts-nav li {
  flex: 2 2 100px;
}

.related-posts-nav label {
  display: flex;
  align-items: center;
  color: var(--color-text-light);
  font-weight: 800;
}

.related-posts-nav svg g {
  fill: var(--color-text-light);
}

.related-posts-nav .home {
  margin: 1.5rem auto 0;
  text-align: center;
}

.related-posts-nav ul li:first-child {
  margin: 0 2rem 0 0;
  align-items: flex-start;
}

.related-posts-nav ul li:last-child {
  margin: 0 0 0 2rem;
  align-items: flex-end;
  text-align: right;
}

.related-posts-nav ul li:first-child label::before {
  content: "←";
  font-weight: 900;
  margin-right: 0.25rem;
}

.related-posts-nav ul li:last-child label::after {
  content: "→";
  font-weight: 900;
  margin-left: 0.25rem;
}
