.post-list {
  list-style: none;
  padding: 0;
}

.post-list-item {
  display: grid;
  grid-template-areas:
  "date heading heading"
  ". tags tags"
  "   . excerpt excerpt";
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: auto;
  margin: 0 0 3rem 0;
}

/* @media screen and (min-width: 800px) {
  .post-list-item {
    grid-template-columns: 1.5fr 4fr 4fr;
    gap: .5rem 2rem;
    grid-template-areas:
    "date heading excerpt"
    "date tags    excerpt";
  }
} */

@media screen and (max-width: 614px) {
  .post-list-item {
    grid-template-columns: 100%;
    gap: 0 0;
    grid-template-areas:
    "date"
    "heading"
    "tags"
    "excerpt";
  }
}

.post-list-link-item {
  display: grid;
  grid-template-areas:
  "date heading heading"
  ". tags tags"
  "   . excerpt excerpt";
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: auto;
  margin: 0 0 3rem 0;
}


.post-list-item-heading {
  grid-area: heading;
  margin: .5rem 0 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.post-list-date {
  grid-area: date;
  margin: .5rem 0 0 0;
  color: var(--color-text-300);
}

.post-list-item-excerpt {
  grid-area: excerpt;
  margin: 1rem 0 0 0;
}
