.post-list {
  list-style: none;
  padding: 0;
  grid-column: 2 / 3;
}

.post-list-item {
  margin: 0 0 8vh 0;
}

.post-list-divider {
  flex: 10 10;
  margin-left: 0.5rem;
  border: none;
  background: var(--color-subtle-light);
  height: 4px;
  border-radius: 4px;
}

.post-list--find-more {
  grid-column: 2 / 3;
}

@media screen and (max-width: 420px) {
  .post-list,
  .post-list--find-more {
    grid-column: 2 / 4;
  }
}

/* @media screen and (max-width: 700px) {
  .post-list-item {
    grid-template-columns: 100%;
    gap: 0 0;
    grid-template-areas:
      "date"
      "heading"
      "tags"
      "excerpt";
  }

  .post-list-link-item {
    grid-template-columns: 100%;
    gap: 0 0;
    grid-template-areas:
      "date"
      "heading"
      "tags"
      "excerpt";
  }
} */

.post-list-item-heading {
  margin-bottom: 1vh;
}

/* .post-list-item-heading a {
  font-weight: 800;
  color: var(--color-text-dark);
} */

.post-list-date-separator {
  display: flex;
  align-items: center;
  width: 66%;
  margin-bottom: 1vh;
}

.post-list-date {
  /* grid-area: date; */
  color: var(--color-subtle);
}

/* .post-list-item-excerpt {
  grid-area: excerpt;
  margin: 1rem 0 0 0;
} */

/* a.permalink.tag {
  color: var(--color-primary);
  background: var(--color-container);
} */
