  {# isDifferentDate and prevDate are set in parent #}
  <li>
    {% if isDifferentDate %}
    <hr class="post-list-divider" />
    {% endif %}
    <article class="post-list-link-item">
      {% if isDifferentDate %}
      <time class="post-list-date small-caps" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% endif %}
      <h2 class="post-list-item-heading">
        <a href="{{ post.data.link | url }}">
            {% if post.data.title %}
            {{ post.data.title }}
            {% else %}
            <code>{{ post.url }}</code>
            {% endif %}
        </a>
        {# <a href="{{ post.url | url }}">Local</a> #}
      </h2>
      <ul class="tag-list no-list-style">
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        <li>
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="tag small-caps">{{ tag }}</a>
        </li>
        {%- endif -%}
      {% endfor %}
      </ul>
      <div class="post-list-item-excerpt post-content">{{ post.data.description }}{{ post.templateContent | safe }}</div>
    </article>
  </li>
