.post {
  display: flex;
  flex-direction: column;
  margin: 0 0 6rem;
  max-width: var(--max-width);
  width: 100%;
}

.post h1 {
  margin: 0;
  font-size: 2rem;
}

.post .post-meta-data {
  display: flex;
  align-items: center;
}

.post-description {
  margin: 0 0 6vh 0;
  font-size: 1.2rem;
  color: var(--color-text-300);
}

.post .post-meta-data time {
  flex: 1 4 100px;
  text-align: end;
  color: var(--color-text-300);
}

.post-content ol li,
.post-content ul li {
  margin-bottom: .5rem;
}
