  {# isDifferentDate and prevDate are set in parent #}
  <li>
    {% if isDifferentDate %}
      {% include "date-time-separator.njk" %}
    {% endif %}
    <article class="post-list-item">
      <h2 class="post-list-item-heading">
        <a href="{{ post.url | url }}">
            {% if post.data.title %}
            {{ post.data.title }}
            {% else %}
            <code>{{ post.url }}</code>
            {% endif %}
        </a>
      </h2>
      <ul class="tag-list no-list-style">
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        <li>
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="tag small-caps">{{ tag }}</a>
        </li>
        {%- endif -%}
      {% endfor %}
      </ul>
      <p class="post-list-item-excerpt post-content">{{ post.data.description }}</p>
    </article>
  </li>
