:root {
  --color-primary: #0463b0;
  --color-primary-light: #d1eaff;
  --color-secondary: #f85572;
  --color-secondary-light: #ffc9d3;
  --color-subtle: #9ca2ba;
  --color-subtle-light: #e5e7f0;
  --color-background: white;

  --max-width-s: 500px;
  --max-width-l: 900px;

  --shadow-l: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}
` @media screen and (max-width: 614px) {
  :root {
    --font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #141D3C;
    --color-primary-light: #66571c;
  }
}

/* @supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    --color-primary: color(display-p3 1 0.701 0.222);
  }
} */

html,
body {
  font-family: ui-rounded, "SF Pro Rounded", system-ui, "Helvetica Neue",
    sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ui-rounded, "SF Pro Rounded", system-ui, "Helvetica Neue",
    sans-serif;
}

p:last-child {
  margin-bottom: 0;
}

p {
  margin: 0 0 min(1.5rem, 1.5vh);
}

p + ul,
p + ol {
  margin: -1.5rem 0 2rem 0;
}

a {
  display: inline;
  text-decoration: none;
  color: var(--color-text-dark);
  border-bottom: 0;
  box-shadow: 0px -2px var(--color-primary) inset;
  font-weight: 600;
  transition: box-shadow 0.15s ease-in-out;
}
a:hover {
  box-shadow: 0px -6px var(--color-primary) inset;
}

a:visited {
  color: var(--color-text-dark);
}

main {
  width: 100%;
}

main.home {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.home-container {
  display: grid;
    width: 100%;
    max-width: 1024px;
    padding: 0 4vw 10vh 0;
    grid-template-columns: 2fr minmax(0, 10fr) 2fr;
    gap: 2rem;
}

.home-container h1 {
  grid-column: 1 / 2;
  transform-origin: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  box-shadow: none;
  font-size: 3.5rem;
  font-weight: 800;
  align-self: flex-start;
  color: var(--color-subtle);
  font-variant: all-petite-caps;
}

@media screen and (max-width: 420px) {
  .home-container {
    gap: 0;
    grid-template-columns: 1rem minmax(0, 10fr) 2fr;
  }
  .home-container h1{
    font-size: 2.5rem;
    grid-column: 2 / 4;
    transform: none;
    writing-mode: lr;
  }
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding: 0.5rem;
  border-top: 1px solid var(--color-container);
  text-align: left;
}

.gist td,
.gist th {
  border: none;
}

emphasis {
  font-style: italic;
}

ul,
ol {
  list-style: none;
  counter-reset: counter;
}

/* ul li::before {
  content: "\2022";
  color: var(--color-primary);
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1rem;
  width: 1rem;
  margin-left: -1rem;
  font-weight: 700;
} */

/* li {
  line-height: 1.75;
  font-size: 1.2rem;
} */

ol:not(.post-list) li {
  counter-increment: counter;
  margin-left: -1.15rem;
}
ol:not(.post-list) li::before {
  content: counter(counter) ".";
  color: var(--color-primary);
  font-weight: 900;
  margin-right: 0.4rem;
  margin-left: -1.2rem;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

sup a {
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--color-primary);
}

.footnote-item p {
  display: inline-block;
}

@media screen and (max-width: 614px) {
  .global-header {
    flex-direction: column;
  }
  .global-header-nav {
    align-items: flex-start;
  }
}

.text-fine {
  font-size: 0.75rem;
  color: var(--color-text-light);
}

footer {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer nav {
  margin: 0 1rem;
  background: var(--color-container);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-l);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer a {
  margin: 0.5rem 1rem;
}

footer .copyright {
  margin-top: 1rem;
}

hr {
  border: none;
  border-top: 1px solid var(--color-container);
}

a[href^="http"]::after {
  content: "↗";
  font-weight: 900;
  color: var(--color-subtle);
  transition: all 0.15s ease-in-out;
  padding-left: 0.15rem;
}

a[href^="http"]:hover::after {
  color: var(--color-primary);
  /* transform: scale(1.4); */
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-row.flex-paragraph h1 {
  width: 100%;
  margin: 1rem;
}

.flex-row.flex-paragraph {
  margin: 4rem auto;
}

.flex-row.flex-paragraph p {
  flex: 2 2 300px;
  padding: 1rem 2rem;
}

.flex-row.flex-paragraph p:nth-child(4n + 3),
.flex-row.flex-paragraph p:nth-child(1) {
  background: var(--color-container);
  border-radius: 1rem;
  box-shadow: var(--shadow-l);
}

.flex-start {
  align-self: flex-start;
}

ul.no-list-style li::before,
ol.no-list-style li::before {
  content: none;
}

blockquote {
  padding: 1.5rem 1.5rem;
  margin: -1rem 0 2rem 0;
  background: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-background)
  );
  border-radius: 0.5rem;
  border-left: 6px solid var(--color-primary);
}

blockquote *:last-child {
  margin-bottom: 0;
}

code {
  background: var(--color-container);
  font-family: ui-monospace, monospace;
  padding: 0.15rem 0.25rem;
  border-radius: 4px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

img:not([src$=".svg"]) {
  border-radius: 16px;
  box-shadow: var(--shadow-l);
}

/* Icons */
#external-arrow path {
  fill: var(--color-text);
}

.large {
  --max-width: 900px;
}
