---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---

<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "post-list.njk" %}

<p class="flex-start">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
