:root {
  --font-size-300: clamp(16px, calc(16px + 0.3vw), 20px);
  --font-size-400: clamp(20px, calc(20px + 0.3vw), 26px);
  --font-size-500: clamp(28px, calc(28px + 1vw), 34px);
  --font-size-600: clamp(34px, calc(34px + 1vw), 56px);
  --spacing-top: 1em;
  --spacing-bottom: 0.66em;
  --line-height: 1.3;
  --content-width: 600px;
  --color-accent: black;
  --color-background: white;
  --color-text-primary: rgba(0, 0, 0, 0.75);
  --color-text-secondary: rgba(0, 0, 0, 0.45);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: white;
    --color-background: black;
    --color-text-primary: rgba(255, 255, 255, 0.95);
    --color-text-secondary: rgba(255, 255, 255, 0.5);
  }
}

body {
  font-size: var(--font-size-300);
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul {
  max-width: var(--content-width);
  margin: var(--spacing-top) auto var(--spacing-bottom);
}

h1 {
  font-size: var(--font-size-600);
}

h2 {
  font-size: var(--font-size-500);
}

h3 {
  font-size: var(--font-size-400);
}
