[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.25;
}

ul li[data-icon]::before {
  content: attr(data-icon);
  font-size: 1.25em;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: $i;
  }
}
