<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if renderData.title %}
    <title>{{ renderData.title  + ' | ' + metadata.tite }}</title>
    {% elif title %}
    <title>{{ title + ' | ' + metadata.title }}</title>
    {% else %}
    <title>{{ metadata.title }}</title>
    {% endif %}
    <meta name = "keywords" content="{{ (tags or collections.tagList) | keywordsFromTags(['posts', 'features']) }}" />
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include "construction.njk" %}
    {% if banner !== false %}
      {% block announcement %}
        {% include "../announcement.njk" %}
      {% endblock %}
    {% endif %}
    <header class="container">
      <div class="global-header">
        <section class="gobal-header-title-section">
          <h1 class="global-header-title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
          <div class="global-header-tagline"><h2 class=""><a href="/about">Steve Ledsworth</a>{{ metadata.description | replace('Steve Ledsworth', '') }}</h2></div>
        </section>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="global-header-nav no-list-style">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </div>
    </header>
    <main class="{% if templateClass %}{{ templateClass }}{% else %}container{% endif %}">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    <footer>
      <nav class="card">
        <a href="/rss.xml">RSS</a>
        <a href="mailto:sledsworth@mac.com">Email</a>
        <a href="https://twitter.com/sledsworth">Twitter</a>
        <a href="https://github.com/sledsworth">Github</a>
        <a href="https://codepen.io/sledsworth">CodePen</a>
      </nav>
      <p id="copyright" class="text-fine copyright">2020 Steven Ledsworth</p>
    </footer>
    <script>
      var currentYear = new Date().getFullYear();
      var initialYear = 2020;
      if (initialYear === currentYear) {
        document.querySelector('#copyright').innerHTML = '© ' + initialYear + ' Steven Ledsworth';
      } else {
        document.querySelector('#copyright').innerHTML = '© ' + initialYear + ' - ' + currentYear + ' Steven Ledsworth';
      }
    </script>
  </body>
</html>
