<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if renderData.title %}
    <title>{{ renderData.title  + ' | ' + metadata.siteTitle }}</title>
    {% elif title %}
    <title>{{ title + ' | ' + metadata.siteTitle }}</title>
    {% else %}
    <title>{{ metadata.siteTitle }}</title>
    {% endif %}
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-duo-tone-space.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    {% include "construction.njk" %}
    {% include "announcement.njk" %}
    <header class="container">
      <div class="global-header">
        <section class="gobal-header-title-section">
          <div class="global-header-intro"><h2>A website by</h2></div>
          <h1 class="global-header-title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
          <div class="global-header-tagline"><h2>{{ metadata.tagline }}</h2></div>
        </section>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="global-header-nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </div>
    </header>
    <div class="container">
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>
    </div>
    <footer>
      <nav>
        <a href="/rss">RSS</a>
        <a href="mailto:sledsworth@gmail.com">Email</a>
        <a href="https://twitter.com/sledsworth">Twitter</a>
        <a href="https://github.com/sledsworth">Github</a>
        <a href="https://codepen.io/sledsworth">CodePen</a>
      </nav>
      <p id="copyright" class="text-fine copyright">2020 Steven Ledsworth</p>
    </footer>
    <script>
      document.querySelector('#copyright').innerHTML = new Date().getFullYear() + ' Steven Ledsworth';
    </script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
