{% extends "./base.njk" %}

{% if banner === 'true' %}
  {{ 'test' + banner }}
  {% block announcement %}
  {% include "../announcement-banner.njk" %}
  {% endblock %}
{% endif %}

{% block content %}
{{ content | safe }}
{% endblock %}
