---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<h1>{{ title }}</h1>

{{ content | safe }}


{% if previousPost %}Previous Blog Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
{% if nextPost %}Next Blog Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}

<p><a href="{{ '/' | url }}">← Home</a></p>
