---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
<article class="post">
	{% if link %}
	<h1><a href="{{ link }}">{{ title }}</a></h1>
	{% else %}
	<h1>{{ title }}</h1>
	{% endif %}
	<section class="post-meta-data">
		<p class="post-meta-data--subtitle">{{ subtitle }}</p>
		<time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
	</section>

	{{ content | safe }}
</article>
<nav class="related-posts-nav">
	<label> {% if previousPost %}← Previous <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %} </label>
	<label><a class="home" href="{{ '/' | url }}">Home</a></label>
	<label> {% if nextPost %}Next → <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %} </label>
</nav>
